[submodule "deps/eunit"]
	path = deps/eunit
	url = git://github.com/cliffmoon/eunit.git
[submodule "deps/mochiweb"]
	path = deps/mochiweb
	url = git://github.com/cliffmoon/mochiweb.git
[submodule "deps/erlyweb"]
	path = deps/erlyweb
	url = git://github.com/cliffmoon/erlyweb.git
